<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Example</title>
  </head>
  <body>
    <form>
      <labe>Digite seu usuário:</labe>
      <br />
      <input id="email" name="email" type="email" />
      <br />
      <br />
      <labe>Digite sua senha:</labe>
      <br />
      <input id="senha" name="senha" type="password" />
      <br />
      <br />
      <button id="button" type="submit" onclick="login()">Login</button>
    </form>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    document
      .getElementById("button")
      .addEventListener("click", function (event) {
        event.preventDefault();
      });
    async function login() {
      let dados = {};
      new FormData(document.querySelector("form")).forEach(function (
        value,
        key
      ) {
        dados[key] = value;
      });
      await axios.post("/api/auth/token", dados).then((data) => {
        let access_token = data.data.access_token;
        localStorage.setItem("token", access_token);
        document.cookie = `token=${access_token}`;
        window.location.href = "/authenticated";
      });
    }
  </script>
</html>
